<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="smtp_tab" translate="label" sortOrder="10">
            <label>Gmail Smtp</label>
        </tab>
        <section id="smtp" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Account Configuration</label>
            <tab>smtp_tab</tab>
            <resource>Hashcrypt_Smtp::config_manufacturer</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Account Configuration</label>
                <field id="email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                    <validate>validate-email</validate>
                </field>
                <field id="password" translate="label" type="password" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                </field>
            </group>
        </section>
    </system>
</config>
